body
{
    background: url('../images/204781.jpg') ;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 1000%;
    opacity: 0.8;
    color: white;
}

@media (max-width: 1120px)
{
    body  
    {
        background: url('../images/alter.jpg') ;
        background-size: 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        min-height: 1000%;
        opacity: 0.8;

    };
}

img
{
    border-radius: 50%;
    border: 5px white;
}
